<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample Suite">
    <test name="setup" >
        <classes>
            <class name="Setup"/>
        </classes>
    </test>
    <test name="Training Test">
        <classes>
            <class name="HomePageTest"/>
            <class name="SpecialistsTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="tear down" >
        <classes>
            <class name="TearDown"/>
        </classes>
    </test>
</suite> <!-- Suite -->